<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <script type="text/javascript">
	  input_date = "[[${event.get().date}]]";
	  months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
	  
	  function changeDateFormat() {
	    YY_MM_DD = input_date.split('-');    
	    day = Number(YY_MM_DD[2]);
	    
		switch (day % 10) {   
			case 1:  day_postfix = "st"; break;
			case 2:  day_postfix = "nd"; break;
			case 3:  day_postfix = "rd"; break;
			default: day_postfix = "th";
		}
		
		if (day > 10 && day < 14)
			day_postfix = "th";

	  	return day + day_postfix.sup() + " " + months[Number(YY_MM_DD[1])-1] + " " + YY_MM_DD[0];
	  }
  </script>
  <title>Event Details</title>
</head>
<body>
	<div layout:fragment="content" >
	  <section th:if="${event.isPresent()}">  
	    <span th:text="${event.get().getName()}">Event Name</span><br> <!-- Event Date -->
	   	<script type="text/javascript"> document.write(changeDateFormat()); </script><br>
	    <span th:if="${event.get().time} != null" th:text="${event.get().time}">Event Time</span><br th:if="${event.get().time} != null">
	    <span th:text="${event.get().getVenue().getName()}">Event Venue</span><br><br>
	    <span th:if="${event.get().getDescription()} != ''" th:text="${event.get().getDescription()}"}>Event Description</span><br>
	  </section>
	  
	  <br>
	  
	  	<div sec:authorize="isAuthenticated()">
		    <a th:href="@{/events/delete_event(eventId=${event.get().getId()})}" class="btn btn-danger">Delete</a>
		</div>
	  
	  <!-- Code for personal design
	  
		<h1 th:text="${event.get().getName()}">Information About This Event</h1>
		
		<footer th:fragment="copy">
		  &copy; 2020 G10
		</footer>
		
	  -->
	  
	</div>
</body>
</html>
