<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <script type="text/javascript">
	  input_date = "[[${event.get().date}]]";
	  months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
	  
	  function changeDateFormat() {
	    YY_MM_DD = input_date.split('-');    
	    day = Number(YY_MM_DD[2]);
	    
		switch (day % 10) {   
			case 1:  day_postfix = "st"; break;
			case 2:  day_postfix = "nd"; break;
			case 3:  day_postfix = "rd"; break;
			default: day_postfix = "th";
		}
		
		if (day > 10 && day < 14)
			day_postfix = "th";

	  	return day + day_postfix.sup() + " " + months[Number(YY_MM_DD[1])-1] + " " + YY_MM_DD[0];
	  }
  </script>
  <title>Event Details</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />  
</head>
<body>
	<div layout:fragment="content" >
	  <section th:if="${event.isPresent()}">  
	    <span th:text="${event.get().getName()}">Event Name</span><br> <!-- Event Date -->
	   	<script type="text/javascript"> document.write(changeDateFormat()); </script><br>
	    <span th:if="${event.get().time} != null" th:text="${event.get().time}">Event Time</span><br th:if="${event.get().time} != null">
	    <a th:href="@{/venues/{num}(num=${event.get().getVenue().getId()})}" th:text="${event.get().getVenue().getName()}">Event Venue</a><br>
	    <br th:if="${event.get().getDescription()} != ''">
	    <span th:if="${event.get().getDescription()} != ''" th:text="${event.get().getDescription()}"}>Event Description</span>
	    <br th:if="${event.get().getDescription()} != ''">
	  </section>
	  <br>

	  <div sec:authorize="isAuthenticated()">
		<a class="btn btn-primary" role="button" th:href="@{/events/update/{num}(num=${event.get().id})}">Update</a >
		<a th:href="@{/events/delete_event(eventId=${event.get().getId()})}" class="btn btn-danger">Delete</a>
	  </div>

	  <!-- Code for personal design
	  
		<h1 th:text="${event.get().getName()}">Information About This Event</h1>
		
		<footer th:fragment="copy">
		  &copy; 2020 G10
		</footer>
		
	  -->
	  
 	  <div id="map" style='height: 450px;'></div>
	  <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
	  <script type="text/javascript" th:inline="javascript">
	    var lat = [[${event.get().venue.getLatitude()}]];
        var lon = [[${event.get().venue.getLongitude()}]];
        L.mapbox.accessToken = 'pk.eyJ1Ijoib2hhcmFvbGkiLCJhIjoiY2s4eWh3Y3hvMDI2dTNsb2hwd2xzOTJyOSJ9.mdslhuJlNO5EPaDc3fFACg';
	    var map = L.mapbox.map('map')
        	.setView([lat, lon], 6)
        	.addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11')); 
	  </script>
	  
	</div>
</body>
</html>
