<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Venue Details</title>
</head>
<body>
	<div layout:fragment="content" >	
	  <section th:if="${venue.isPresent()}">  
	    <span th:text="${venue.get().getName()}">Venue Name</span><br>
	    <span th:text="${venue.get().getAddress()}">Venue Address</span><br>
	    <span th:text="${venue.get().getPostcode()}">Venue Postcode</span><br>
	    <span th:text="${'Capacity: ' + venue.get().getCapacity()}">Venue Capacity</span><br><br>
	  
	    
	    
	   	<div sec:authorize="isAuthenticated()">
	   	 	<a class="btn btn-primary" role="button" th:href="@{/venues/update/{num}(num=${venue.get().id})}">Update</a >
			<a th:href="@{/venues/delete_venue(venueId=${venue.get().getId()})}" class="btn btn-danger">Delete</a>
		</div>
	    
	    
	    Events coming up...
	    <br>
	    	  <table class="table table-striped table-hover">
		  <thead>
		  <tr>
			  <th><i class="fas fa-bolt"></i> Event</th>
			  <th><i class="fas fa-map-marker-alt"></i> Venue</th>
			  <th><i class="fas fa-calendar"></i> Date</th>
			  <th><i class="fas fa-clock"></i> Time</th>
		  </tr>
		  </thead>
		  <tbody>
		  <tr th:each="e : ${futureEvents}">
			  <td><a th:href="@{/events/{num}(num=${e.id})}" th:text="${e.name}">Event Name</a></td>
			  <td th:text="${e.getVenue().getName()}">Event Venue</td>
			  <td th:text="${{e.date}}">Event Date</td>
			  <td th:text="${{e.time}}">Event Time</td>
		  </tr>
		  </tbody>
	  </table>
	    
	    
	  </section>
	</div>

</body>
</html>